<div>
  <h1 class="text-2xl font-bold">Register Account</h1>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="max-w-sm mx-auto">
    <div class="mb-5">
      <global-input-text formControlName="username" label="Username" type="text" id="username" [required]="true"
        [errorMessage]="getErrorMessage('username')" />
    </div>
    <div class="mb-5">
      <global-input-text formControlName="email" label="Email" type="email" id="email" [required]="true"
        [errorMessage]="getErrorMessage('email')" />
    </div>

    <div class="mb-5">
      <global-input-password formControlName="password" label="Password" id="password" [required]="true"
        [passwordErrorMessage]="getErrorMessage('password')" />
    </div>
    <div class="flex items-start mb-5">
    </div>
    <button type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
  </form>

</div>