<div *ngIf="isLoading" class="flex">
  <span class="loading loading-spinner loading-lg"></span>
</div>

<div class="container mx-auto p-4">
  <div class="flex justify-between items-center">
    <h1 class="text-2xl font-bold">Images</h1>
    <a routerLink="/images/new" class="btn btn-primary">Add Image</a>
  </div>

  <div *ngIf="error" class="alert alert-error mt-4">{{ error }}</div>

  <div>
    <div
      *ngFor="let image of images"
      class="bg-white shadow-md rounded-lg p-4 mt-4"
    >
      <img [src]="image.filename" [alt]="image.description" />
    </div>
  </div>
</div>

<!-- Router outlet for nested routes -->
<router-outlet></router-outlet>
