<div class="flex justify-between items-center">
  <h1 class="text-2xl font-bold">Images</h1>
  <a routerLink="/images/new" class="btn btn-primary">Add Image</a>
</div>
<div class="tabs">
  <button [class.active]="activeTab === 'active'" (click)="switchTab('active')">Active Images</button>
  <button [class.active]="activeTab === 'inactive'" (click)="switchTab('inactive')">Inactive Images</button>
</div>

<!-- <div *ngIf="isLoading">Loading...</div> -->

<ng-container *ngIf="!isLoading">
  <div *ngIf="activeTab === 'active'">

    <global-image-list [title]="'Active Image'" [images]="activeImages"
      [noImagesMessage]="'No active images found'"></global-image-list>
    <!-- <div *ngIf="activeImages.length === 0">No active images found</div>
    <div *ngFor="let image of activeImages" class="image-card">
      <img [src]="image.filename" [alt]="image.description" />
      <button (click)="deleteImage(image.id)">Delete</button>
    </div> -->
  </div>

  <div *ngIf="activeTab === 'inactive'">
    <global-image-list [title]="'Inactive Image'" [images]="inactiveImages"
      [noImagesMessage]="'No inactive images found'"></global-image-list>
    <!-- <div *ngFor="let image of inactiveImages" class="image-card">
      <img [src]="image.filename" [alt]="image.description" />
      <button (click)="restoreImage(image.id)">Restore</button>
    </div> -->
  </div>
</ng-container>

<!-- Router outlet for nested routes -->
<router-outlet></router-outlet>