<div class="flex flex-wrap w-screen h-screen auth-layout">
  <!-- Form Section -->
  <div class="flex flex-col justify-center items-center w-full px-6 lg:w-1/2 bg-white bg-opacity-80 lg:bg-transparent">
    <div class="text-center mb-8">
      <h1 class="text-3xl lg:text-4xl font-bold leading-tight text-gray-800 mb-4">Sign in here</h1>
      <p class="text-gray-600">
        If you don’t have an account, register.
        <a class="font-bold text-blue-800 hover:underline" routerLink="/register">Register here!</a>
      </p>
    </div>

    <form [formGroup]="loginForm" class="flex flex-col gap-4 w-full max-w-md bg-white shadow-lg rounded-lg p-6"
      (ngSubmit)="onSubmit()">
      <global-input-text formControlName="email" [errorMessage]="getErrorMessage('email')" label="Email"
        placeholder="Enter your email" [required]="true">
      </global-input-text>

      <global-input-password formControlName="password" placeholder="Enter password" label="Password" [required]="true"
        [passwordErrorMessage]="getErrorMessage('password')">
      </global-input-password>

      <button class="py-2 text-white bg-blue-600 hover:bg-blue-700 rounded-lg font-semibold transition-all"
        type="submit">
        Login
      </button>
    </form>
  </div>

  <!-- Image Section (Desktop Only) -->
  <div class="hidden lg:flex items-center justify-center w-full lg:w-1/2 h-full bg-blue-50">
    <img src="assets/images/auth.jpg" alt="Login illustration" class="w-full max-w-lg rounded-lg shadow-lg" />
  </div>
</div>